.cart-summerydetails{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    margin-top: 40px;
    margin-left: 65px;
}
.card-summeryimg {
    height: 70%;
    width: 85px;
    margin-top: 0%;
    margin-bottom: 0%;
}
.book-summerydetails{
    display: flex;
    flex-direction: column;
    line-height:20px;
    text-align: left;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;
    margin-left:3%;
}
.book-summerytitle{
    font: normal normal bold 14px/17px Lato;
    color: #0A0102;
    margin-bottom: 10px;
}
.authorsummery{
    font: normal normal bold 10px/12px Lato;
    color: #9D9D9D;
    margin-bottom: 10px;
}
.pricesummery{
    font: normal normal bold 15px/18px Lato;
    color: #0A0102;
}

.placeSummeryButton {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-right: 50px;
    margin-bottom: 30px;
    padding-top: 5%;
}

.placed-summerybutton{
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 3px; 
    border:none;
    text-align: center;
    font: normal normal medium 14px/17px Lato;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    height: 35px;
    cursor: pointer;
    width: 151px;
    height: 35px;
}
.os-div{
    margin-bottom: 100px;
}

.total-price{
    display: flex;
    text-align: center;
    font: normal normal bold 14px/17px Lato;
    font-size: large;
    color: #0A0102;
    text-align: center;
    margin-left: 40%;
    padding-top: .9%;

}