
.form-lp-div-2{
    background-color: #FFFFFF;
    margin: 15%;
    margin-left: 30%;
    border-radius: 30px;
    width:50%;
    box-shadow: 5px 5px 50px 5px #A03037;
}
.form-lp-div-2:hover{
    transform: scale(1.1);
    transition: 1s;
}
.form-lp-title{
    background-color: white;
    color: #A03037;
    text-align: center;
    font: normal normal bolder 30px/70px Lato;
    border-radius: 30px;
    letter-spacing: 2px;
}
.details-lp-div{
    background-color: #FFFFFF;
    color: #A03037;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font: normal normal bolder 25px/70px Lato;
    letter-spacing: 2px;
    margin-left:10%;
    margin-right: 20%;
}
.input-lp{
    font: normal normal bolder 15px/45px Lato;
    background-color: #E2E2E2;
    color: #2E1D1E;
    border:none;
    outline: none;
    padding:5px;
    border-radius: 20px;
    padding-left: 20px;
}
.password-lp{
    margin-bottom: 20px;
}
.details-lp-div2{
    color: #A03037;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font: normal normal bolder 15px/40px Lato;
    // border-radius: 30px;
    letter-spacing: 2px;
    margin-top: -10px;
    margin-left:10%;
    margin-right: 20%;
}
.button-lp-div{
    display: flex;
    flex-direction: column;
    height: 25%;
}
.login-lp-button{
    background-color: rgb(251, 119, 26);
    color: #FFFFFF;
    outline:none;
    border: none;
    font: normal normal normal 20px/40px Lato;
    width: 70%;
    margin-left: 10%;
    margin-bottom:5px;
    border-radius: 2px;
    cursor: pointer;
    
}
.facebook-lp{
    background-color:#3b5998;
    margin-bottom: 5%;
    height: 50px;
}
.or-lp{
    width:70%;
    margin-left: 10%;
    margin-bottom:5px;
    text-align: center;
}