.body-lp-div{
    height:100vh;
    min-height: 700px;;
}
.main-lp-div{
    display: flex;
    flex-direction: row;
    height: 100vh;
    background-image: url('../../assests/images/fombookbg.jpg');
}
.img-bor-div{
    background-image: url('../../assests/images/fombookbg.jpg');
    width:40%;
    margin:3%;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    box-shadow: 5px 5px 10px 5px #9D9D9D;
}
.img-bor-div:hover{
    transform: scale(1.1);
    transition: 2s;
    box-shadow: 5px 5px 7px 5px #9D9D9D;
    transform: rotate(-10deg);
}
  
.img-lp{
    height: 95%;
    margin-left:20%;
    margin-right: 4%;
    // margin-top: 3%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transform: translate(4%, 2%);
}
.img-lp:hover{
    transform: scale(1.1);
    transition: 3s;
    box-shadow: 5px 5px 7px 5px #8F2B2F;
    transform: rotate(10deg);
  
}
.form-lp-div{
    background-image: url('../../assests/images/fombookbg.jpg');
    display: block;
    width: 80%;
    background-repeat: no-repeat;
}