.header-content {
    display: flex;
    flex-direction: row;
    background-color: #a03037;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    width: 100%;
    z-index:9999;
    flex: 1;
}
.sidebar {
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
}
.logo-bookstore {
    font: normal normal normal 22px/26px Roboto;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 13%;
}
span {
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 1.5px;
}
.anchor {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    border-radius: 3px;
    width: 40%;
    margin-left: 2%;
}
.search-logo {
    height: 10px;
    margin-left: 20px;
}
.search-bar {
    width: 600px;
    height: 33px;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 3px;
    background: #FCFCFC 0% 0% no-repeat padding-box;
}
::placeholder {
    color: #9d9d9d;
}

.cart-logo {
    font: normal normal normal 20px/26px Roboto;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-left: 2%;
}

.cart-count {
    top: 19px;
    width: 18px;
    height: 18px;
    background: #ffffff;
    text-align: center;
    // vertical-align: center;
    font: normal normal bold 12px/14px Lato;
    letter-spacing: 0px;
    color: #A03037;
    border-radius: 50%;
    margin-left: -9px;
    margin-bottom: 13px;

}
.username{
    font: normal normal normal 20px/26px Roboto;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    margin-right: 9%;
    margin-left: -2%;;
    // padding-left: 10%;
}

// .username > MuiAvatar-colorDefault{
//     color: #a03037;
//     background-color: #fcfcfc;
// }

.MuiAvatar-colorDefault {
    color: #fafafa;
    background-color: #bdbdbd;
}


.username > span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 80%;
}
@media screen and (max-width: 200px) {
    .header-content{
        width: 50%;
    }

    .search-bar{
        width: 300px;
    }
}

@media screen and (max-width: 900px) {
    .header-content{
        width: 20%;
    }
}
