.header-content{
    display:flex;
    flex-direction: row;
    background-color:#A03037 ;
    justify-content:space-evenly;
    align-items: center;
    height:60px;
    width: 100%;
}
.logo-bookstore{
    font: normal normal normal 22px/26px Roboto;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}
span{
    margin-left: 10px;
    margin-right: 10px;
    letter-spacing: 1.5px;
}
.anchor{
    display: flex;
    background-color:#FFFFFF;
    align-items: center;
    border-radius: 3px;

}
.search-logo{
    height: 14px;
    margin-left: 20px;

}
.search-bar{
    width:600px;
    height: 33px;
    padding-left: 10px;
    border: none;
    border-radius: 3px;

}
::placeholder{
    color: #9D9D9D;
}

.cart-logo{
    font: normal normal normal 20px/26px Roboto;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

