.other-details-cd{
    border:2px solid #DCDCDC;
    text-align: left;
    color: #333232;
    letter-spacing: 0px;
    opacity: 1;
    margin-left: 12%;
    margin-right: 30%;
    margin-top: 2%;
}
.details-ordercart-cd{
    font: normal normal bold 20px/18px Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.input-div{
    margin-left: 4%;
    margin-top:2%;
    width:60%;

}

.placeButton-cd{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-bottom: 30px;
}

.placed-button-cd{
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 3px; 
    border:none;
    text-align: center;
    font: normal normal medium 14px/17px Lato;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    height: 35px;
    cursor: pointer;
    width: 151px;
    height: 35px;
}
.radioDiv{
    margin-top: 20px;
    margin-left: 4%;
}
.type{
    text-align: left;
    font: normal normal bold 18px/20px Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
}
.radio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    font: normal normal bold 15px/15px Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
    width: 60%;
    margin-top: 10px;
}
.MuiFormControl-root {
    border: 0;
    margin: 10px;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 45%;
    flex-direction: column;
    vertical-align: top;
}