.input-div{
    margin-left: 5%;
    margin-top:2%;
    width:50%;
   
}
.placeButton-cd{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    margin-bottom: 30px;
}

.placed-button-cd{
    background: #3371B5 0% 0% no-repeat padding-box;
    border-radius: 3px; 
    border:none;
    text-align: center;
    font: normal normal medium 14px/17px Lato;
    color: #FFFFFF;
    text-transform: uppercase;
    opacity: 1;
    height: 35px;
    cursor: pointer;
    width: 151px;
    height: 35px;
}
.radioDiv{
    margin-left:5%;
    margin-top:1%;
}
.type{
    text-align: left;
    font: normal normal bold 18px/20px Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
    // margin-left: 5%;
    margin-top:2%;
}
.radio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    font: normal normal bold 15px/15px Lato;
    letter-spacing: 0px;
    color: #333232;
    opacity: 1;
    width: 60%;
    margin-top: 15px;
    margin-left: 8px;
}
.MuiFormControl-root {
    border: 0;
    margin: 10px;
    display: inline-flex;
    padding: 0;
    position: relative;
    min-width: 45%;
    flex-direction: column;
    vertical-align: top;
}

.input-div > .MuiFormControl-root > .MuiInputLabel-outlined{
    z-index: -999;
}
error-outputt{
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
    font: normal normal bolder 12px/20px Lato;
}
